.container{
  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}
.content{
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
  height: 100vh;
}
.addInfo{
  background-color: blueviolet;
  flex: 1 1 0px

}
.showInfo{
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0px

}

