.container{
  
}
.content{
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
  height: 100vh;
}
.addInfo{
  background-color: blueviolet;
  flex-grow: 1;
}
.showInfo{
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

