.cvPreview{
    background-color: aliceblue;
    width: 720px;
    height: 960px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .avatar{
    width: 140px;
  }
  .basicInfo{
    display: grid;
    grid-template-columns: 160px 1fr;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .basicInfoDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
#nameFinal{
    font-size: 40px;
    word-wrap: break-word;
    width: 480px;
}
.phoneEmail{
  display: flex;
  flex-direction: row;
  gap:20px;
  width: 480px;
}
.jobTitle{
    font-size: 25px;
    width: 480px;
    word-wrap: break-word;
}
.phone, .email{
    font-size: 15px;
}
.aboutMe{
  font-size: 25px;
}
#personalInfo{
  width: 640px;
  word-wrap: break-word;
}
.personalInfo{
  margin-right: 40px;
  margin-left: 40px;
  word-wrap: break-word;
}
.education,.skills,.experience,.certifications{
  margin-right: 40px;
  margin-left: 40px;
}
.certifications{
  margin-bottom: 40px;
}
.skills ul{
  display: grid;
  grid-template-columns: auto auto;
}
  